<!--<object type="image/svg+xml" data="/images/skaven_icon.svg" style="color:green"></object>-->
<h1>Enemies</h1>
<div class="item">
	<img src="{{enemy.icon}}" title="{{enemy.name}}" alt="{{enemy.name}} icon"/>
	<h2>{{enemy.name}}</h2>
	<div>
		<img src="{{enemy.image}}" title="{{enemy.name}}" alt="{{enemy.name}} portrait"/>
		<h3 id="description">Description</h3>
		<p>{{enemy.description}}</p>
		<div>
			<h3 id="notes">Notes</h3>
			{{#each enemy.notes}}
				<h4>{{title}}</h4>
				<p>{{content}}</p>
			{{/each}}
		</div>
	</div>
</div>