<!--<object type="image/svg+xml" data="/images/skaven_icon.svg" style="color:green"></object>-->
<h1>Enemies</h1>
<div class="item">
	<img src="{{enemy.icon}}" title="{{enemy.name}}" alt="{{enemy.name}} icon"/>
	<h2>{{enemy.name}}</h2>
	<div>
		<img src="{{enemy.image}}" title="{{enemy.name}}" alt="{{enemy.name}} portrait"/>
		<h3 id="description">Description</h3>
		<p>{{enemy.description}}</p>
		<div>
			<h3 id="notes">Notes</h3>
			{{#each enemy.notes}}
				<h4>{{title}}</h4>
				<p>{{content}}</p>
			{{/each}}
		</div>
	</div>
	<div class="stats">
		<h3 id="stats">Stats</h3>
		<table>
			<tbody>
			<tr>
				<td class="tooltip"
					title="Whether or not this enemy is protected by armour. Armoured enemies can only be damaged by attacks to the head or by strikes with the 'Armour Penetration' attribute. All weapons have this attribute on their heavy attack, but some weapons such as axes have it by default">
					Armoured:
				</td>
				<td>{{booleanToYesNo enemy.armoured}}</td>
			</tr>
			<tr>
				<td class="tooltip"
					title="Every time the poison DoT ticks, enemies have a chance to die instantly, regardless of their remaining health. The percentage chance for this to happen is (100 - resistance). Some enemies have 100 poison resistance, meaning that this instant death effect can never happen to them">
					Poison Resistance:
				</td>
				<td>{{enemy.poison_resistance}}</td>
			</tr>
			</tbody>
		</table>
		<table class="difficulties">
			<tbody>
			<tr>
				<th class="tooltip" title="The difficulty setting">Difficulty</th>
				<th class="tooltip" title="The amount of health that the enemy has on the corresponding difficulty setting">Health</th>
				<th class="tooltip">Damage</th>
			</tr>
			<tr>
				<td>Easy</td>
				<td>{{enemy.hp.easy}}</td>
				<td>Coming soon!</td>
			</tr>
			<tr>
				<td>Normal</td>
				<td>{{enemy.hp.normal}}</td>
				<td>Coming soon!</td>
			</tr>
			<tr>
				<td>Hard</td>
				<td>{{enemy.hp.hard}}</td>
				<td>Coming soon!</td>
			</tr>
			<tr>
				<td>Nightmare</td>
				<td>{{enemy.hp.nightmare}}</td>
				<td>Coming soon!</td>
			</tr>
			<tr>
				<td>Cataclysm</td>
				<td>{{enemy.hp.cataclysm}}</td>
				<td>Coming soon!</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>