<img src="{{icon}}"/>
<h2>{{name}}</h2>
<img src="{{image}}"/>
<h3>Description</h3>
<p>{{description}}</p>
<div>
	<h3>Notes</h3>
	{{#each notes}}
		<h4>{{title}}</h4>
		<p>{{content}}</p>
	{{/each}}
</div>