<h1>Trinkets</h1>
<div class="item trinket">
	<img src="{{trinket.image}}" title="{{trinket.name}}" alt="{{trinket.name}} icon"/>
	<h2>{{trinket.name}}</h2>
	<div>
		<h3>Type</h3>
		<p>{{trinket.type}}</p>
		<h3>Rarity</h3>
		<p>{{trinket.rarity}}</p>
		<h3>Description</h3>
		<p>{{trinket.description}}</p>
	</div>
</div>