<h1>Weapons</h1>
<div class="item weapon">
	<img src="{{weapon.icon}}" title="{{weapon.name}}" alt="{{weapon.name}} icon"/>
	<h2>{{weapon.name}}</h2>
	<div>
		<p>Wielded by: {{weapon.hero}}</p>
		<p>{{weapon.description}}</p>
		<div class="stats weapon_stats">
			<h3>Stats</h3>
			<div class="column">
				<h4>Weapon Rarity:</h4>
				<div class="rarities">
					<input type="radio" name="stats_rarity" id="stats_rarity_plentiful" checked/>
					<label for="stats_rarity_plentiful">Plentiful (white)</label>
					<br/>
					<input type="radio" name="stats_rarity" id="stats_rarity_common"/>
					<label for="stats_rarity_common">Common (green)</label>
					<br/>
					<input type="radio" name="stats_rarity" id="stats_rarity_rare"/>
					<label for="stats_rarity_rare">Rare (blue)</label>
					<br/>
					<input type="radio" name="stats_rarity" id="stats_rarity_exotic"/>
					<label for="stats_rarity_exotic">Exotic (orange)</label>
					<br/>
					<input type="radio" name="stats_rarity" id="stats_rarity_veteran"/>
					<label for="stats_rarity_veteran">Veteran (red)</label>
					<img src="/images/skaven_icon.svg"/>
				</div>
			</div>
			<div class="column">
				<div class="stat_bars">
					{{#each weapon.weapons.[4].attacks}}
						<label class="stat_label">{{name}}</label>
						<div><div class="hbar"></div><div class="vbar"></div></div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="trait_picker">
			<h3>Trait Picker</h3>
			<div class="column">
				<h4>Weapon Rarity:</h4>
				<div class="rarities">
					<input type="radio" name="traits_rarity" id="traits_rarity_common" checked/>
					<label for="traits_rarity_common">Common (green)</label>
					<br/>
					<input type="radio" name="traits_rarity" id="traits_rarity_rare"/>
					<label for="traits_rarity_rare">Rare (blue)</label>
					<br/>
					<input type="radio" name="traits_rarity" id="traits_rarity_exotic"/>
					<label for="traits_rarity_exotic">Exotic (orange)</label>
					<br/>
					<input type="radio" name="traits_rarity" id="traits_rarity_veteran"/>
					<label for="traits_rarity_veteran">Veteran (red)</label>
					<img src="/images/skaven_icon.svg"/>
				</div>
			</div>
			<div class="column">
				<div class="trait_button" id="trait0" style="margin-top:26.6px"></div>
				<div class="trait_button" id="trait1"></div>
				<div class="trait_button" id="trait2"></div>
			</div>
		</div>
	</div>
</div>
<div id="shield" class="shield" style="display:none">
	<div id="trait_picker" class="trait_picker" style="display:none">
	</div>
</div>
<script>var weapons = {{{json weapon.weapons}}};</script>
<script src="/scripts/weapon.min.js"></script>